@if (Value != null && Value.Any())
{
    <ul class="tags">
        @foreach (var tag in Value)
        {
            <li class="tag" @onclick="() => TagClicked(tag)"><span class="oi oi-tag"></span> @tag</li>
        }
    </ul>
}

@code {

    [Parameter] public IEnumerable<string> Value { get; set; }
    [Parameter] public EventCallback<string> OnTagClicked { get; set; }

    protected async Task TagClicked(string tag)
    {
        await OnTagClicked.InvokeAsync(tag);
    }

    ///// <summary>
    ///// This method returns a boolean to indicate if a components UI can be rendered. 
    ///// However, it's only called after the initial render of a component. 
    ///// Meaning even if it returns false, the component will still render once 
    ///// </summary>
    //protected override bool ShouldRender() => false;

}
