@inject XeAuthenticationStateProvider AuthStateProvider

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">XE Blazor App</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <a @onclick="() => LogOut()" @onclick:preventDefault href="#">
                        Logout
                    </a>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <i class="fas fa-key"></i> Login
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void LogOut()
    {
        XeAuthenticationStateProvider.IsAuthenticated = false;
        AuthStateProvider.NotifyAuthenticationStateChanged();
    }
}
