@typeparam TItem

<div class="row">

    @foreach (TItem item in Data ?? Array.Empty<TItem>())
    {
        <div class="@ColumnClass">
            @ChildContent(item)
        </div>
    }

</div>


@code {

    [Parameter] public IEnumerable<TItem> Data { get; set; }
    [Parameter] public RenderFragment<TItem> ChildContent { get; set; }

    [Parameter] public int Columns { get; set; } = 2;

    private string ColumnClass => $"col-sm-{12 / Columns}";

}
