@page "/Sample5"
@inject DashboardService DashboardService

<h3>Ereditariet&agrave; e generics</h3>

<div class="row">

    <div class="col-sm-6">
        <WidgetBest Title="Numero" Value="@ValueNumber" />
    </div>

    <div class="col-sm-6">
        <WidgetSuccess Title="Data" Value="@ValueDate" />
    </div>

    <div class="col-sm-6">
        <WidgetBest Title="Testo" Value="@ValueText" />
    </div>

    <div class="col-sm-6">
        <WidgetError Title="Guid" Value="@ValueGuid" />
    </div>

</div>

@code {

    private int ValueNumber = 42;
    private string ValueText = "Blazor";
    private DateTime ValueDate = DateTime.Now;
    private Guid ValueGuid = Guid.NewGuid();
}