@page "/Sample4"
@inject DashboardService DashboardService

<h3>Uso dei Generics</h3>

<GridRepeater Data="DashboardService.GetCards()" 
              Columns="3">

    <BootstrapCard 
            Title="@context.Title" 
            Text="@context.Text" />

</GridRepeater>
