@page "/Sample3"

<h3>Uso dei Generics</h3>

<div class="row">

    <div class="col-sm-6">
        <Widget Title="Numero" Value="@ValueNumber" />
    </div>

    <div class="col-sm-6">
        <Widget Title="Data" Value="@ValueDate" />
    </div>

    <div class="col-sm-6">
        <Widget Title="Testo" Value="@ValueText" />
    </div>

    <div class="col-sm-6">
        <Widget Title="Guid" Value="@ValueGuid" />
    </div>

</div>

@code {

    private int ValueNumber = 42;
    private string ValueText = "Blazor";
    private DateTime ValueDate= DateTime.Now;
    private Guid ValueGuid = Guid.NewGuid();
}